html {
	scroll-behavior: smooth;
}

.ProjectPicture {
  object-fit: cover;
  margin: 1vh;
  height: 30vh;
  width: 30vw;
}

.AppHeader {
  background-image: url(https://cdn.discordapp.com/attachments/835058323828637706/915545250406227978/whaleshark.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

/*
.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-clip: border-box;
  background-position-x: center;
  background-size: cover;
  background-position-y: center;
  background-image: url(https://cdn.pixabay.com/photo/2014/03/07/06/42/whale-shark-281497_960_720.jpg);
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.DeveloperName {
  font-size: calc(10px + 5vmin);  
}

.DeveloperSubtitle {
  font-size: calc(10px + 1.3vmin);
}

.Section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  padding: 5vh;
}

.ProfileSkills {
  min-height: 50vh;
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: left;
  font-size: calc(10px + 1.3vh);
  padding-top: 5vh;
}

.ProfileSkillsColumn {
  float: left;
  flex: 1;
  padding-left: 3vw;
  padding-right: 3vw;
}

.ProfileSkillsHeader {
  font-size: calc(10px + 2vh);
}

.ProfileSkillsButton {
  font-size: calc(10px + 1.3vh);
  color: white;
  border: none;
  background-color: #8347b8;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 1vw;
  text-decoration: none;
}

.ProfileSkillsButton:hover {
  background-color: #5b3285;
}

.FirstButtonContainer {
  padding-top: 1vw;
}

.SecondButtonContainer {
  padding-top: 2vw;
}

.Pain {
  text-align: left;
}

.JobTitle {
  margin: 0;
  font-size: calc(10px + 2vh);
}

.JobPlace {
  margin: 0;
  font-size: calc(10px + 1vh);
}

.JobDescription {
  font-size: calc(10px + 1.3vh);
}

.App-link {
  color: #61dafb;
}

.ProjectCard {
  border-radius: 2vh;
  width: 80vw;
  max-height: 30vh;
  margin: 2vh;
  padding: 1em;
  background: #4a47b8;
}

.ProjectPicture {
  object-fit: cover;
  height: 30vh;
  width: 30vh;
  float: left;
}

.ProjectDetails {
  padding-left: 10em;
}

.ProjectTitle {
  font-size: calc(10px + 1.3vh);
}

.ProjectSubtitle {
  font-size: calc(10px + 1vh);
  font-style: italic;
}

.Contributions {
  font-size: calc(10px + 1vh);
  padding-top: 1em;
}

a.ProjectCardLink:link {
  color: #f797ad;
}

a.ProjectCardLink:visited {
  color: #ff8800;
}

a.ProjectCardLink:hover {
  color: gold;
}

a.ProjectCardLink:active {
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
