.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.Section {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.ProfileSkills {
  min-height: 50vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: left;
}

.ProfileSkillsColumn {
  float: left;
  flex: 1;
  padding-left: 5vw;
  padding-right: 5vw;
}

.Pain {
  text-align: left;
}

.JobTitle {
  margin: 0;
  font-size: calc(10px + 2vh);
}

.JobPlace {
  margin: 0;
  font-size: calc(10px + 1vh);
}

.JobDescription {
  font-size: calc(10px + 1.3vh);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
