html {
	scroll-behavior: smooth;
}

.ProjectPicture {
  object-fit: cover;
  margin: 1vh;
  height: 30vh;
  width: 30vw;
}

.AppHeader {
  background-image: url(https://cdn.discordapp.com/attachments/835058323828637706/915545250406227978/whaleshark.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
